<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue JS</title>
    <!-- Import Style -->
    <link href="assets/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <body>
    <div id="main">
      <div class="nav-bar"></div>
      <div class="cart">My Cart({{ cart.length }})</div>
      <product-display :premium="premium" @add-to-cart="updateCart"></product-display>
    </div>

    <!-- Import Vue JS -->
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <!-- Import Vue App -->
    <script src="assets/js/main.js"></script>
    <!-- Import Components -->
    <script src="components/productDisplay.js"></script>
    <script src="components/reviewForm.js"></script>
    <script src="components/reviewList.js"></script>
    <!-- Mount Vue App -->
    <script>const mountedApp = app.mount('#main')</script>
  </body>
</html>
