body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
}
img {
  border: 2px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  padding: 15px;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}
label {
  font-size: 20px;
  margin-bottom: 5px;
}
input {
  width: 98%;
  height: 30px;
  margin-bottom: 10px;
}
select {
  height: 30px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}
textarea {
  width: 95%;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.nav-bar {
  background: linear-gradient(-90deg, #5f9ea0, #008080);
  height: 60px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}
.button {
  margin: 20px;
  background-color: #5f9ea0;
  border-radius: 10px;
  font-size: 18px;
  width: 180px;
  height: 60px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.cart {
  display: block;
  margin: 25px 100px;
  float: right;
  color: white;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
  background-color: #367588;
}
.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-image, .product-info {
  width: 50%;
}
.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}
.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}
.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 10px;
  margin: 20px;
  border: 2px solid #d8d8d8;
  background-color: white;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}
.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 20px;
  border: 2px solid #d8d8d8;
}
.review-container li {
  margin-bottom: 20px;
}
.review-form .button {
  display: block;
  margin: 10px auto;
}
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .product-image, .product-info {
    margin-left: 10px;
    width: 100%;
  }
}
